*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo img {
    max-width: 40px;
    height: auto;
  }
  
  .search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 230px;
    margin-left: -270px;
  }
  /* CSS DOS BOTOES */
  .buttons {
    display: flex;
    align-items: center;
  }
  
  .buttons button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .btn-entrar {
    background-color: #fff;
    color: #000;
    border: 1000px solid pink;
  }
  
  .btn-cadastrar {
    background-color: #fff;
    color: #000;
  }

  .btn-carrinho {
    background-color: #fff;
    color: #000;
  }
  
 /* //CSS DO BOTAO DE CARRINHO// */
 
  .cart-button img{
    max-width: 40px;
    height: auto;
  }

  
  /* .cart-icon {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 4px 6px;
  }
   */